// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Coreui
@import '~@coreui/coreui/dist/css/coreui.min.css';

@import 'partials/_header.scss';
@import 'partials/_sidebar.scss';

/***********************************************
Global styles:
************************************************/
.app-body {
    min-height: 100.1vh;
}
