.cdLogoFull {
    width: 89px;
    height: 30px;

    > svg {
        fill: white;
    }
}

/* Make toggler button white:
*/
.app-header .navbar-toggler-icon,
.app-header .navbar-toggler:hover .navbar-toggler-icon {
    filter: grayscale(1) brightness(2);
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: $highlight;
}
